/*----------------------------------------------------------------------------*/
/* html                                                                       */
/*----------------------------------------------------------------------------*/
html
{
  font-family:Arial;
  font-size:12pt;
  text-decoration:none;
  background-color:LightGray;
  color:black;
  border-left:1pt solid;
  border-right:1pt solid;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:10%;
  margin-right:10%;
  padding:0px;
  height:100%;
  overflow:scroll;
}

html p
{
  text-indent:20px;
  padding-top:3px;
  padding-bottom:3px;
  margin:0px;
  width:100%;
}

html h1
{
  background-color:DarkSeaGreen;
  color:DarkSlateGray;
  font-size:16pt;
  font-weight:bold;
  margin:0px;
  padding:0px;
  padding-bottom:8px;
  padding-top:12px;
  height:50px;
  width:auto;
}

html h2
{
  color:DarkSlateGray;
  font-size:12pt;
  text-align:center;
  padding:0px;
  margin:0px;
  padding-top:5px;
  padding-bottom:10px;
}

html h3
{
  color:DarkSlateGray;
  font-size:12pt;
  text-align:center;
  padding-top:5px;
  padding-bottom:5px;
}

html li
{
  padding-left: 5px;
}

html body
{
//position:relative;
  background-color:white;
  text-align:center;
  width:auto;
  height:100%;
  overflow:scroll;
//overflow-y:hidden;
}

html img
{
  padding-left:30px;
  padding-top:15px;
  border:0px solid;
  display:flex;
  justify-content:right;
}

a:link
{
  color:#505050;
  text-decoration:none;
}

a:visited
{
  color:gray;
  text-decoration:none;
}

a:active
{
  color:#505050;
  text-decoration:none;
}

html button
{
  border:none;
  cursor:pointer;
  background-color:white;
  color:gray;
  margin-left:0px;
}

/*----------------------------------------------------------------------------*/
/* change_page                                                                */
/*----------------------------------------------------------------------------*/
.change_page
{
  color:#505050;
  background-color:white;
  text-decoration:none;
}

.change_page:hover
{
  color:gray;
  background-color:white;
  text-decoration:none;
}

.change_page:visited
{
  color:#505050;
  background-color:white;
}

/*----------------------------------------------------------------------------*/
/* nav                                                                        */
/*----------------------------------------------------------------------------*/
#nav
{
  width:100%;
  height:50px;
  font-size:15px;
  color: #505050;
  padding: 0px;
  margin: 0px;
}

#nav ul
{
  text-align:center;
  margin:0px;
  padding:0px;
  margin-left:5%;
  padding-top:5px;
}

#nav ul li
{
  display:inline;
  list-style:none;
  padding-left:5px;
  float:left;
}

#nav ul li a
{
  text-decoration:none;
  color:#505050;
}

#nav ul li:hover
{
  text-decoration:none;
  color:gray;
}

#nav ul li a:hover
{
  text-decoration:none;
  color:gray;
}

#nav ul li ul
{
  display:none;
}

#nav ul li:hover ul
{
  display:block;
  position:absolute;
  z-index:9999;
  background-color:white;
  color:gray;
  font-size:14px;
  list-style-type:none;
  text-align:left;
  margin-left:10px;
  padding-top:0px;
  border: 1pt solid;
}

#nav ul li:hover ul li
{
  display:block;
  text-decoration:none;
  color:#505050;
}

#nav ul li ul li:hover
{
  display:block;
  text-decoration:none;
  color:gray;
}

/*----------------------------------------------------------------------------*/
/* content_main                                                               */
/*----------------------------------------------------------------------------*/
.content_main
{
  z-index:1;
  font-size:12pt;
  text-align:left;
  margin:0px;
  margin-top:20px;
  margin-left:5%;
  margin-right:5%;
  padding:0px;
  padding-bottom:10px;
  border: 0pt solid;
}

content_main div
{
  min-height:1200px;
}

.content_main a, a:hover, a:visited
{
  color: #505050;
}

.content_main li a
{
  color: #505050;
}

.content_main ul li a
{
  color: #505050;
}

.content_main a:link
{
  color: #505050;
}

.content_main a:hover
{
  color: gray;
}

.content_main ul li:a:hover
{
  color: gray;
}

.content_main a:focus
{
  color: gray;
}

/*----------------------------------------------------------------------------*/
/* content_left                                                               */
/*----------------------------------------------------------------------------*/
.content_left
{
  display:flex;
  flex-direction:row;
  padding:0px;
  margin:0px;
  padding-top:10px;
  text-align:left;
}

/*----------------------------------------------------------------------------*/
/* datatables                                                                 */
/*----------------------------------------------------------------------------*/
#datatables
{
  font-size:11pt;
  height:100%;
  font-size:80%;
}

.table-content
{
  font-size:11pt;
}

/*----------------------------------------------------------------------------*/
/* header, footer                                                             */
/*----------------------------------------------------------------------------*/
#header
{
/*
  z-index:10;
  position:sticky;
  top:1%;
*/
margin:0px;
padding:0px;
}

#footer
{
/*
  position:fixed;
  bottom:1%;
*/
  font-size:90%;
  text-align:left;
  margin-left:5%;
  margin-right:5%;
  margin-top:0px;
  margin-bottom:2px;
  padding:0px;
}

#footer hr
{
  margin:0px;
  padding:0px;
  margin-bottom:1pt;
}
