/*----------------------------------------------------------------------------*/
/* html, body, h1, h2, ...                                                    */
/*----------------------------------------------------------------------------*/
html
{
  font-size:11pt;
  text-decoration:none;
  background-color:LightGray;
  color:black;
  border-left:1pt solid;
  border-right:1pt solid;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:8%;
  margin-right:8%;
  padding:0px;
  height:100%;
  overflow:scroll;
}

body
{
  background-color:white;
  text-align:left;
  width:auto;
  height:100%;
  overflow:scroll;
  padding:0px;
  margin:0px;
}

p
{
  text-indent:20px;
  padding-top:3px;
  padding-bottom:3px;
  margin:0px;
  width:100%;
}

h1
{
  color:DarkSlateGray;
  font-size:12pt;
  text-align:center;
  padding:0px;
  margin:0px;
  margin-top:0px;
  margin-bottom:20px;
  clear:both;
}

h2
{
  color:DarkSlateGray;
  font-size:11pt;
  text-align:left;
  padding:0px;
  margin:0px;
  margin-top:15px;
  margin-bottom:3px;
}

summary
{
  color:DarkSlateGray;
  font-size:11pt;
  text-align:left;
}

ol
{
  margin:0 auto;
  margin-top:4px;
  margin-bottom:6px;
  list-style-position:outside;
  padding-left:30px;
}

ul
{
  list-style-type:square;
  margin-top:5pt;
  margin-bottom:5pt;
}

li
{
  padding-left:5px;
}

img
{
  z-index:9999;
  display:flex;
  justify-content:right;
  padding-left:25px;
  padding-top:0px;
  border:0px solid;
}

a:link
{
  color:gray;
  text-decoration:none;
}

a:visited
{
  color:gray;
  text-decoration:none;
}

a:active
{
  color:gray;
  text-decoration:none;
}

button
{
  cursor:pointer;
  background-color:white;
  color:gray;
  margin:0px;
  padding:0px 2px;
  border:none;
}

mark
{
  color:#505050;
  text-decoration:none;
  background-color:#e9e6eb;
}

mark:hover
{
  color:gray;
  text-decoration:none;
  background-color:#e9e6eb;
}

mark:visited
{
  color:#505050;
  background-color:#e9e6eb;
}

footer
{
  font-size:10pt;
  text-align:left;
  margin-left:6%;
  margin-right:6%;
  margin-top:0px;
  margin-bottom:5px;
  padding:0px;
}

footer hr
{
  margin:0px;
  padding:0px;
  margin-bottom:1pt;
}

/*----------------------------------------------------------------------------*/
/* datatables, datatables-content                                             */
/*----------------------------------------------------------------------------*/
#datatables
{
  font-size:80%;
  font-size:10pt;
  height:100%;
  text-align:center;
}

.datatables-content
{
  font-size:10pt;
}

/*----------------------------------------------------------------------------*/
/* columns-2, columns-3                                                       */
/*----------------------------------------------------------------------------*/
.columns-2
{
  columns:2;
  column-gap:5px;
}

.columns-3
{
  columns:3;
  column-gap:5px;
}

/*----------------------------------------------------------------------------*/
/* kh-classes                                                                 */
/*----------------------------------------------------------------------------*/
.kh-main-container
{
  z-index:1;
  text-align:left;
  padding:0px;
  margin-top:40px;
  margin-bottom:10px;
  margin-left:5%;
  margin-right:5%;
/*
  border:1pt solid;
  border-color:white;
*/
}

.kh-main-container div
{
}

.kh-main-container a, a:hover, a:visited
{
  color:#505050;
}

.kh-main-container li a
{
  color:#505050;
}

.kh-main-container ul li a
{
  color:#505050;
}

.kh-main-container a:link
{
  color:#505050;
}

.kh-main-container a:hover
{
  color:gray;
}

.kh-main-container ul li a:hover
{
  color:gray;
}

.kh-main-container a:focus
{
  color:gray;
}

.kh-content
{
  border:1px solid;
  border-radius:10px;
  padding:10px;
  margin:0px;
  margin-top:5px;
  margin-bottom:5px;
  background-color:#e9e6eb;
}

.kh-td1
{
  text-align:center;
  padding:0px 3px;
  margin-left:5px;
}

.kh-td2
{
  text-align:left;
  padding:0px 4px;
}

.kh-tree
{
  text-align:left;
  margin-left:20px;
}

.kh-left-to-right-container
{
  display:flex;
  flex-direction:row;
  text-align:left;
  padding:0px;
  margin:0px;
}

#kh-logo
{
  padding:0px;
  margin:0px;
  margin-right:25px;
}

/*----------------------------------------------------------------------------*/
/* kh-nav                                                                     */
/*----------------------------------------------------------------------------*/
#kh-nav
{
  width:100%;
  color:#505050;
  font-size:10pt;
  padding:0px;
  margin:0px;
  margin-top:10px;
  margin-bottom:15px;
}

#kh-nav ul
{
  text-align:center;
  list-style-type:none;
  margin:0px;
  margin-left:5%;
  padding:0px;
  padding-bottom:15px;
}

#kh-nav li 
{
}


#kh-nav ul li
{
  float:left;
  list-style:none;
}

#kh-nav ul li a
{
  text-decoration:none;
  color:#505050;
  float:none;
  clear:left;
  position:relative;
  display:inline-block;
}

#kh-nav ul li:hover
{
  text-decoration:none;
}

#kh-nav ul li a:hover
{
  text-decoration:none;
  color:gray;
}

#kh-nav ul li ul
{
  display:none;
}

#kh-nav ul li:hover ul
{
  z-index:9999;
  display:flex;
  flex-direction:column;
  position:absolute;
  background-color:#f6f5f4;
  color:gray;
  list-style:none;
  text-align:left;
  margin-left:10px;
  padding:0px;
  padding-right:5px;
  border:1pt solid;
}

#kh-nav ul li:hover ul li
{
  display:block;
  text-decoration:none;
  color:#505050;
}

#kh-nav ul li ul li:hover
{
  display:block;
  text-decoration:none;
  color:gray;
}
