/*----------------------------------------------------------------------------*/
/* html                                                                       */
/*----------------------------------------------------------------------------*/
html
{
  font-size:11pt;
  text-decoration:none;
  background-color:LightGray;
  color:black;
  border-left:1pt solid;
  border-right:1pt solid;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:8%;
  margin-right:8%;
  padding:0px;
  height:100%;
  overflow:scroll;
}

html p
{
  text-indent:20px;
  padding-top:3px;
  padding-bottom:3px;
  margin:0px;
  width:100%;
}

h1
{
  color:DarkSlateGray;
  font-size:14pt;
  text-align:center;
  padding:0px;
  margin:0px;
  margin-top:20px;
  margin-bottom:20px;
}

html h2
{
  color:DarkSlateGray;
  font-size:12pt;
  text-align:center;
  padding:0px;
  margin:0px;
  margin-top:5px;
  margin-bottom:5px;
}

html h3
{
  color:DarkSlateGray;
  font-size:11pt;
  padding-top:0px;
  padding-bottom:0px;
}

html h4
{
  color:DarkSlateGray;
  font-size:10pt;
  padding-top:15px;
  padding-bottom:0px;
  text-align:left;
}

.kh-content
{
  border:1px solid;
  border-radius:10px;
  padding:10px;
  margin-top:5px;
  margin-bottom:5px;
  background-color:#e9e6eb;
}

.kh-summary
{
  color:DarkSlateGray;
  font-size:12pt;
  text-align:left;
}

.logo
{
  margin:auto;
  margin:0px;
  margin-right:25px;
  padding:0px;
}

html ol
{
  margin:0 auto;
  margin-top:4px;
  margin-bottom:6px;
  list-style-position:outside;
  padding-left:30px;
}

html ul
{
  list-style:square;
  margin-top:5pt;
  margin-bottom:5pt;
}

html li
{
  padding-left: 5px;
}

html body
{
  background-color:white;
  text-align:center;
  width:auto;
  height:100%;
  overflow:scroll;
}

html img
{
  padding-left:25px;
  padding-top:0px;
  border:0px solid;
  display:flex;
  justify-content:right;
  z-index:9999;
}

a:link
{
  color:#505050;
  text-decoration:none;
}

a:visited
{
  color:gray;
  text-decoration:none;
}

a:active
{
  color:#505050;
  text-decoration:none;
}

html button
{
  border:none;
  cursor:pointer;
  background-color:white;
  color:gray;
  margin:0px;
  padding:0px 2px;
}

/*----------------------------------------------------------------------------*/
/* columns-2, columns-3                                                       */
/*----------------------------------------------------------------------------*/
.columns-2
{
  columns:2 400px;
  column-gap:10px;
}

.columns-3
{
  columns:3 300px;
  column-gap:10px;
}

/*----------------------------------------------------------------------------*/
/* internal-page                                                              */
/*----------------------------------------------------------------------------*/
.internal-page
{
  color:#505050;
/*
  background-color:white;
*/
  text-decoration:none;
  background-color:#e9e6eb;
}

.internal-page:hover
{
  color:gray;
  text-decoration:none;
  background-color:#e9e6eb;
}

.internal-page:visited
{
  color:#505050;
  background-color:#e9e6eb;
}

/*----------------------------------------------------------------------------*/
/* nav                                                                        */
/*----------------------------------------------------------------------------*/
#nav
{
  width:100%;
  color:#505050;
  font-size:95%;
  padding:0px;
  margin:0px;
  margin-top:10px;
  margin-bottom:15px;
}

#nav ul
{
  text-align:center;
  margin:0px;
  padding:0px;
  margin-left:5%;
  padding-bottom:15px;
}

#nav ul li
{
  display:inline;
  list-style:none;
  float:left;
}

#nav ul li a
{
  text-decoration:none;
  color:#505050;
}

#nav ul li:hover
{
  text-decoration:none;
  color:gray;
}

#nav ul li a:hover
{
  text-decoration:none;
  color:gray;
}

#nav ul li ul
{
  display:none;
}

#nav ul li:hover ul
{
  display:block;
  position:absolute;
  z-index:9999;
  background-color:#f6f5f4;
  color:gray;
  list-style-type:none;
  text-align:left;
  margin-left:10px;
  padding-top:0px;
  padding-bottom:1px;
  border:1pt solid;
}

#nav ul li:hover ul li
{
  display:block;
  text-decoration:none;
  color:#505050;
}

#nav ul li ul li:hover
{
  display:block;
  text-decoration:none;
  color:gray;
}

/*----------------------------------------------------------------------------*/
/* main-container                                                             */
/*----------------------------------------------------------------------------*/
.main-container
{
  z-index:1;
  text-align:left;
  margin-top:40px;
  margin-bottom:10px;
  margin-left:5%;
  margin-right:5%;
  padding:0px;
  border:1pt solid;
  border-color:white;
}

.main-container div
{
}

.main-container a, a:hover, a:visited
{
  color:#505050;
}

.main-container li a
{
  color:#505050;
}

.main-container ul li a
{
  color:#505050;
}

.main-container a:link
{
  color:#505050;
}

.main-container a:hover
{
  color:gray;
}

.main-container ul li a:hover
{
  color:gray;
}

.main-container a:focus
{
  color:gray;
}

/*----------------------------------------------------------------------------*/
/* kh-table                                                                   */
/*----------------------------------------------------------------------------*/
.kh-td1
{
  text-align:center;
  padding:0px 3px;
  margin-left:5px;
}

.kh-td2
{
  text-align:left;
  padding:0px 4px;
}

/*----------------------------------------------------------------------------*/
/* left-to-right-container                                                    */
/*----------------------------------------------------------------------------*/
.left-to-right-container
{
  display:flex;
  text-align:left;
  flex-direction:row;
  padding:0px;
  margin:0px;
}

/*----------------------------------------------------------------------------*/
/* datatables, datatables-content                                             */
/*----------------------------------------------------------------------------*/
#datatables
{
  height:100%;
  font-size:10pt;
  text-align:center;
  font-size:80%;
}

.table-content
{
  font-size:10pt;
}

.datatables-content
{
  font-size:10pt;
}

/*----------------------------------------------------------------------------*/
/* footer                                                                     */
/*----------------------------------------------------------------------------*/
#footer
{
  text-align:left;
  margin-left:5%;
  margin-right:5%;
  margin-top:0px;
  margin-bottom:3px;
  padding:0px;
}

#footer hr
{
  margin:0px;
  padding:0px;
  margin-bottom:1pt;
}
